@import "tailwindcss";

@theme {
  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-gilda-display);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-accent: var(--accent);
}

:root {
  --background: oklch(0.95 0.0237 88.24);
  --foreground: oklch(0.1959 0.0062 196.66); 
  --border: oklch(0.6167 0.0981 69.73);
  --accent: oklch(0.9307 0.0121 247.96);
}

.dark {
  --background: oklch(0.1959 0.0062 196.66);
  --foreground: oklch(0.95 0.0237 88.24); 
  --border: oklch(0.6167 0.0981 69.73);
  --accent: oklch(0.9307 0.0121 247.96);
}

@layer base {
  * {
    border-color: var(--foreground);
  }

  html, body{
    background-color: var(--background);
    height: 100dvh;
  }
}
